<!DOCTYPE html>
<html>
<head>
    <title>Chews For You</title>
</head>
    <h1>Chews For You</h1>
<body>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.address.label() }} {{ form.address }} <br>
            {{ form.city.label() }} {{ form.city }} <br>
            {{ form.state.label() }} {{ form.state }} <br>
            {{ form.zipcode.label() }} {{ form.zipcode }} <br>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>