<!DOCTYPE html>
<html>
<head>
    <title>Chews For You</title>
</head>
    <h1>Chews For You</h1>
<body>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.address.label() }} {{ form.address(class="form-control form-control-lg") }} <br>
            {{ form.city.label() }} {{ form.city(class="form-control form-control-lg") }} <br>
            {{ form.state.label() }} {{ form.state(class="form-control form-control-lg") }} <br>
            {{ form.zipcode.label() }} {{ form.zipcode(class="form-control form-control-lg") }} <br>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</body>
</html>