<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
    <h1>Register an Account</h1>
<body>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.firstName.label() }} {{ form.firstName }} <br>
            {{ form.lastName.label() }} {{ form.lastName }} <br>
            {{ form.email.label() }} {{ form.email }} <br>
            {{ form.confirmEmail.label() }} {{ form.confirmEmail(class="form-control form-control-lg") }} <br>
            {{ form.username.label() }} {{ form.username }} <br>
            {{ form.password.label() }} {{ form.password }} <br>
            {{ form.confirmPassword.label() }} {{ form.confirmPassword }} <br>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>